@*@model MyMovie.ViewModel.MovieGenreViewModel*@

@model MyMovie.ViewModel.MovieGenreVM

    <div class="k-content">
        @*@(Html.Kendo().Form<MyMovie.Models.Movie>()*@
           @(Html.Kendo().Form<MyMovie.ViewModel.MovieGenreVM>()
            .Name("formMovie")
            .HtmlAttributes(new { action = "Create", method = "POST" })
            .Items(items =>
            {
                items.AddGroup()
                    .Label("Movie Form")
                    .Items(i =>
                    {
                    i.Add()
                        .Field(f => f.Movie.Title)
                        .Label(l => l.Text("Title"));

                    i.Add()
                        .Field(f => f.Movie.Score)
                        .Label(l => l.Text("Movie Score"))
                        .Editor(e =>
                        {
                            e.NumericTextBox()
                                .Min(0)
                                .Max(10);
                        });

                    i.Add()
                        .Field(f => f.Movie.Rating)
                        .Label(l => l.Text("Your Rating"))
                        .Editor(e =>
                        {
                            e.Rating()
                                .Min(0)
                                .Max(10)
                                .Precision("half")
                                .ItemTemplate("<i class='k-icon k-i-heart-outline'></i>")
                                .SelectedTemplate("<i class='k-icon k-i-heart'></i>")
                                .HoveredTemplate("<i class='k-icon k-i-heart'></i>");
                        });

                    i.Add()
                        .Field(f => f.Movie.GenreId)
                        .Label(l => l.Text("Genre"))
                        .Editor(e =>
                        {
                            e.ComboBox()
                                .HtmlAttributes(new { })
                                .Placeholder("Select movie genre")
                                .DataTextField("Name")
                                .DataValueField("Id")
                                .HtmlAttributes(new { style = "width:100%" })
                                .Height(520)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetGenres", "Movie");
                                    });
                                });
                        });

                        i.Add()
                            .Field(f => f.selectedGenres)
                            .Label(l => l.Text("Genre(s)"))
                            .Editor(e =>
                            {
                                e.MultiSelect()
                                    .Name("multiselect")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Placeholder("Select genre(s)....")
                                    .Height(520)
                                    .TagMode(MultiSelectTagMode.Multiple)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetGenres", "Movie");
                                        });
                                    });

                            });


                        i.Add()
                            .Field(f => f.Movie.ReleaseDate)
                            .Label(l => l.Text("Release Date"))
                            .Editor(e =>
                            {
                                e.DatePicker()
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                                    .ComponentType("modern")
                                    .DateInput();
                            });

                        i.Add()
                            .Field(f => f.Movie.ImageUrl)
                            .Label(l => l.Text("Image URL"));

                        i.Add()
                            .Field(f => f.Movie.Overview)
                            .Label(l => l.Text("Overview"))
                            .EditorTemplateHandler("customTextareaEditor");






                    });
            })


        )
    </div>

  
        <script>
            function customTextareaEditor(container, options) {
                $('<textarea class="k-textarea" data-bind="value: ' + options.field + '" name="' + options.field + '"/>')
                    .appendTo(container);
            }
        </script>

